RewriteEngine On
RewriteRule    ^replay/([\w]+)/?$    replay.php?id=$1    [NC,L]    # Replay URLs
RewriteRule    ^replay/([\w]+)/frame/([0-9]+)/?$    replay.php?id=$1&frame=$2    [NC,L]    # Replay URLs
RewriteRule    ^live/?$    live.php    [NC,L]    # Live URL
