.navbox {
	    border-radius: 5px;
		background: rgb(77, 77, 77);

		font-size: 16px;
}

.navbox_title {
	    border-radius: 5px;
		background: rgb(60, 59, 58);

		display: inline-block;

		padding: 12px 10px 12px 30px;

		font-size: 16px;

		margin: 0px;
}

.navbox_content {
	    border-radius: 5px;
		/*background: red;*/

		display: inline-block;

		padding: 12px 10px;

		font-size: 16px;

		margin: 0px;
}

.navbox_title:hover {
	background-color: rgb(70, 116, 200);
	cursor: pointer;
}

.table_navbutton {
	width: 20%;
	display: inline-block;
	text-align: center;
	background: rgb(79, 77, 72);
	padding: 12px 0px;
}

.table_navdisplay {
	display: inline-block;
}

.right {
	float: right;
}

.left {
	float: left;
}